<h2>Изменить данные человека</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
  <%= f.label :name, 'Имя' %><br />
  <%= f.text_field :name,
              autofocus: true,
              autocomplete: "name" %>
  </div>

  <div class="field">
  <%= f.label :surname, 'Фамилия' %><br />
  <%= f.text_field :surname,
              autofocus: true,
              autocomplete: "surname" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, 'Новый пароль' %> <br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Повторите новый пароль'  %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password, 'Текущий пароль'  %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Обновить данные человека" %>
  </div>

  <h2>Изменить данные собаки</h2>

  <div class="field">
  <%= f.label :dog_name, 'Кличка собаки' %><br />
  <%= f.text_field :dog_name,
              required: true,
              autofocus: true,
              autocomplete: "dog_name" %>
  </div>

  <div class="field">
  <%= f.label :dog_breed, 'Порода собаки' %><br />
  <%= f.text_field :dog_breed,
              required: true,
              autofocus: true,
              autocomplete: "dog_breed" %>
  </div>

  <div class="field">
    <%= f.label :dog_sex, 'Пол собаки' %><br />
    <%= f.label :dog_sex, "м", :value => "true"  %>
    <%= f.radio_button :dog_sex, true %>
    <%= f.label :dog_sex, "ж", :value => "false" %>
    <%= f.radio_button :dog_sex, false %>
  </div>

  <div class="field">
  <%= f.label :dog_age, 'Возраст собаки' %><br />
  <%= f.number_field :dog_age, in: 1.0..30.0, step: 1 ,
              autocomplete: "dog_age" %>
  </div>

  <div class="field">
  <%= f.label :dog_describtion, 'Опишите собаку' %><br />
  <%= f.text_field :dog_describtion,
              required: true,
              autofocus: true,
              autocomplete: "dog_describtion" %>
  </div>

  <div class="actions">
    <%= f.submit "Обновить данные собаки" %>
  </div>
<% end %>


<p>Unhappy? <%= button_to "Удалить мой аккаунт", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Назад", :back %>
